
<div class="container">
    <nav class="pull-right">
        <form action="login.php" method="post">
            <div class="form-row" style="height: fit-content">
                <div class="form-group col-md-4 mb-3">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Login">
                </div>
                <div class="form-group col-md-4 mb-3">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Mot de Pass">
                </div>
                <div class="form-group col-md-4 mb-3">
                    <button type="submit" class="btn btn-info mb-2">Se connecter</button>
                </div>
            </div>
        </form>
    </nav>

    <div class="masthead">
        <h3 class="text-muted">Surnom des enseignants</h3>
